.container-probability-calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  color: white;
}

.buttons-probability-calculator {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 24px;
}
